@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.project-card {
  @include flex-center;
  flex-direction: column;
  background-color: map-get($colors, color-secondary);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(175, 175, 175, 0.472);
  gap: 40px;
  height: 70vh;

  .project {
    width: 100%;
    


h4{
 text-align: center;

}

    /*
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
*/
  }
  .project-description {
    @include flex-center;
    flex-direction: column;

h3.title-project{
font-size: map-get(map-get($mobile, font-size),project-title);
color: map-get($colors, color-tertiary);
text-transform: none;
margin-bottom: 20px;
}


    p.project-text {
      font-size: map-get(map-get($mobile, font-size), body);
      text-align: center;
padding: 0 30px;

    }
  }

  .see-project {
    @include flex-center;
    margin-top: 3em;

    .link-project {
      @include flex-center;


    }

    span {
      @include flex-center;
      justify-content: space-between;
      gap: 4px;
      margin: 0 15px;

      p {
        color: map-get($colors, color-primary);
      
      }

      img.github {
        
        width: 1.3em;
      }
      img.demo {
        width: 1.7em;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
.project-card{
   .project-description {

p{
  font-size: map-get(map-get($tablet, font-size), body);
}
  }


}
 
}

@media screen and (min-width: 1021px) {
  .project-card {
display: flex;
flex-direction: row;
height: 50vh;


.project{
 
width: 70%;

img{
  height: 40vh;
}

}

.project-description{
width: 70%;



  p.project-text {
    font-size: map-get(map-get($mobile, font-size), body);
    text-align: center;
padding: 0 55px;

  }
}


}





  }







