@import "./variables.scss";

@mixin flex-center(){
display: flex;
justify-content: center;
align-items: center;

}

@mixin subtitle(){
    font-size: map-get(map-get($mobile, font-size), subtitle);
    color: map-get($colors, color-blue);
    text-transform: uppercase;
}

@mixin container-wrapper-mobile(){
    padding: 80px 20px;
}