@import "./variables.scss";

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin subtitle-mobile() {
  font-size: map-get(map-get($mobile, font-size), subtitle);
  color: map-get($colors, color-blue);
  text-transform: uppercase;
}

@mixin subtitle-about-mobile() {
  color: map-get($colors, color-primary);
  font-size: map-get(map-get($mobile, font-size), subtitle-about);
  margin-bottom: 0.4em;
  text-align: center;
}

@mixin subtitle-about-tablet() {
  color: map-get($colors, color-primary);
  font-size: map-get(map-get($tablet, font-size), subtitle-about);
  margin-bottom: 0.6em;
  text-align: center;
}

@mixin subtitle-about-desktop() {
  color: map-get($colors, color-primary);
  font-size: map-get(map-get($desktop, font-size), subtitle-about);
  margin-bottom: 0.8em;
}

@mixin container-wrapper-mobile() {
  padding: 6em 1.4em;
}

@mixin wrapper-medium-screen() {
  padding: 6em 10em;
}

@mixin hover-links() {
  color: map-get($colors, color-hover);
  transition: 0.9s;
  cursor: pointer;
}

@mixin hover-icons-home(){
color: map-get($colors, color-hover);
transform: scale(1.1);
transition: .4s;
}

@mixin hover-icons-footer(){
transform: translateY(-5px);
transition: .6s;

}