$global-fonts: (
  font-body: "Poppins",
  font-logo: "Montserrat",
  font-hero: "Poppins",
);

$colors: (
  color-primary: black,
  color-secondary: white,
  color-tertiary: rgb(75, 74, 74),
  color-dark-gray: rgb(45, 45, 45),
  bg-section: rgba(246, 246, 246, 0.851),
  separator-line: rgba(133, 133, 133, 0.677),
  color-blue: #001c4a,

  color: (
    body: rgb(120, 120, 120),
  ),
);

$mobile: (
  font-size: (
    body: 1.1em,
    logo: 1.2em,
    title1: 2.5em,
    title2: 1.2em,
    title3: 1.8em,
    subtitle: 1.1em,
    subtitle-about: 1.3em,
    project-title: 1.3em,
  ),
);

$tablet: (
  font-size: (
    body: 1.1em,
    title1: 3em,
    title3: 2.1em,

    subtitle-about: 1.5em,
  ),
);

$desktop: (
  font-size: (
    body: 1.1em,
    title1: 3.5em,
    title3: 2.1em,
  
    subtitle-about: 1.6em,
  ),
);
