$global-fonts: (
  font-body: "Poppins",
  font-logo: "Montserrat",
  font-hero: "Poppins",
);

$colors: (
  color-primary: black,
  color-secondary: white,
  bg-home: rgba(246, 246, 246, 0.851),
 separator-line: rgba(189, 189, 189, 0.677),
 
  color:(
  subtitle: rgb(17, 0, 113),
body: rgb(90, 90, 90),
  ),

 
);

$mobile: (
  font-size: (
    body: 1em,
    logo: 1.2em,
    h1-hero: 1.7em,
    subtitle: 1.2em,
  ),
);
