@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";



.container-contact{

@include flex-center;
@include container-wrapper-mobile;

.content-contact{
@include flex-center;
flex-direction: column;
gap: 20px;


    h3{
@include subtitle;


    }

    h2{
        color: map-get($colors, color-dark-gray);
        font-size: map-get(map-get($mobile, font-size), title1);
        margin-bottom: 20px;
    }
    .contact-link{
@include flex-center;
flex-direction: column;
margin: 5px 0;
gap: 2px;

        img{
           box-shadow: 1px 1px 15px rgba(209, 209, 209, 0.711);  
           border-radius: 50%;
           padding: 10px;
        }
        h4{
            color: map-get($colors, color-dark-gray);
            font-size: map-get(map-get($mobile, font-size), title2);
        }
       


    }

}





}