@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.container-contact {
  @include flex-center;
  @include container-wrapper-mobile;


  .content-contact {
    @include flex-center;
    flex-direction: column;
    gap: 30px;

    a{
      text-decoration: none;
      color: map-get(map-get($colors, color), body);
    
  }
    h3 {
      @include subtitle-mobile;
      text-align: center;
      padding-bottom: 8px;
    }

    h2 {
      color: map-get($colors, color-dark-gray);
      font-size: map-get(map-get($mobile, font-size), body);
      margin: 18px;
      
    }
    .contact-link {
      @include flex-center;
    flex-direction: column;
      margin: 5px 0;
      gap: 2px;

      img {
        box-shadow: 1px 1px 15px rgba(209, 209, 209, 0.711);
        border-radius: 50%;
        padding: 10px;
        width: 48px;
      }
      h4 {
        color: map-get($colors, color-dark-gray);
        font-size: map-get(map-get($mobile, font-size), body);
      }
.contact-infos{
    text-align: center;
}
    }
  }
}

@media screen and (min-width: 1021px) {
    
    .container-contact {
 justify-content: start;
padding: 5em 8em;
   
.content-contact{
display: flex;
flex-direction: column;


.contact-text{
  display: flex;
  flex-direction: column;
  width: 100%;

    h3{
        text-align: start;
    }

    h2{
     margin: 0;
     font-size: map-get(map-get($mobile, font-size), body);
    }
   
}

.contact-link{
   width: 100%;
display: flex;
flex-direction: row;
gap: 1em;

.contact-infos{
    display: flex;
    flex-direction: column;
    text-align: start;


a{
    text-decoration: none;
    color: map-get(map-get($colors, color), body)
}
   a p:hover{
    @include hover-links;
}

}


}

}
    }

}
