@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

#home.hero {
  display: flex;
  flex-direction: column;

  background-color: map-get($colors, bg-section);
}

.container-hero {
  padding: 0 1.5em;
  margin: 0 auto;
  max-width: 110em;
}

.content-hero {
  @include flex-center;
  flex-direction: column;
}

.hero-img {
  display: flex;
  flex-direction: column;

  width: 60%;

  margin: 10em 0 3.5em 0;
}

.hero-img img {
  border-radius: 50%;

  width: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.hero-text h1 {
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: map-get(map-get($mobile, font-size), title1);
  color: map-get($colors, color-primary);
}

.hero-text p {
  display: flex;

  font-size: map-get(map-get($mobile, font-size), body);
  color: map-get($colors, font-color-body);
  text-align: center;
  padding: 0 3.5em;
}

img.hand-icon {
  width: 10%;
  height: 10%;
}

span.social-icons {
  @include flex-center;
  gap: 20px;

  margin-top: 1.2em;
}

span.social-icons img {
  width: 38px;
}

/**tech stack**/

.tech-stack {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 70px 0;

  .underline {
    background-color: map-get($colors, separator-line);
    width: 6em;
    border-radius: 10px;
    height: 1.5px;
    margin-bottom: 20px;
    @include flex-center;
  }

  p {
    margin-bottom: 10px;
    font-size: map-get(map-get($mobile, font-size), subtitle);
    color: map-get($colors, color-tertiary);
  }

  .icons-stack {
    @include flex-center;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    padding: 20px 70px;
    gap: 20px;
  }

  span img {
    width: 55px;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(0.8);
    }
  }

  span {
    animation: pulse 3s infinite;
    transform-origin: center;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .container-hero {
    @include wrapper-medium-screen;
    margin: 0 auto;
    max-width: 120rem;

    .hero-text {
      h1 {
        font-size: map-get(map-get($tablet, font-size), title1);
      }

      p {
        font-size: map-get(map-get($tablet, font-size), body);
        padding: 0 4em;
      }
    }
  }
}
