.header-container{
    display: flex;
    flex-direction: row;
justify-content: space-between;
align-items: center;

height: 8vh;
width: 100%;
box-shadow: 1px 1px 15px rgba(73, 73, 73, 0.345);
border: rgba(144, 143, 143, 0.981);
}