@import "../../Styles/variables";



.nav-links-list {
  display: none;
}


/***Medium screens****/


/**Big screens**/

@media screen and (min-width: 900px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 8vh;
    width: 100%;


    border: rgba(144, 143, 143, 0.981);
  }

  .logo {
    
    font-size: map-get(map-get($mobile, font-size), logo );
    margin-left: 10px;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: map-get($global-fonts, font-logo);
  }

  .navbar-links ul {
    display: flex;
    flex-direction: row;

    list-style-type: none;
    width: 90%;
  }

  .navbar-links li {
    display: flex;
    margin-right: 30px;
    font-size: map-get(map-get($desktop, font-size), body);
    
  }

  .navbar-links li a {
    color: map-get($colors, color-primary);
    text-decoration: none;
    font-weight: 600;
  }
}
