


.hamburguer-icon{
    position: absolute;
    width: 15px;
    height: 1.8px;
    background-color: var(--hamburguer-icon-color);
transition: 0.5s;
border-radius: 15px;
position: absolute;
right: 17%;
top: 4%;


}


.hamburguer-icon::before{
top: -8px;
content: '';
position: absolute;
width: 20px;
height: 1.8px;
border-radius: 15px;
background-color: var(--hamburguer-icon-color);
}



.hamburguer-icon::after{
    top: 8px;
    content: '';
    position: absolute;
    width: 20px;
    height: 1.8px;
    border-radius: 15px;
    background-color: var(--hamburguer-icon-color);
    }
    

ul.list-pages li {
    list-style-type: none;
}

ul.list-pages li a{
    text-decoration: none;
   color: black;
}

.menu-list{
    display: flex;
    flex-direction: column;
width: 100%;
height: 100vh;
justify-content: center;
align-items: center;
    flex-wrap: nowrap;
    color: black;
  
  

}



.menu-list .list-pages {
    padding: 0;
}

.menu-list .list-pages li{
    margin: 15px 0;
color: black;
margin-bottom: 50px;
font-size: .9em;
font-family: var(--font-body);

display: flex;
flex-direction: column ;
justify-content: space-around;
align-items: center;
}

.toggleActive .hamburguer-icon{
    background-color: transparent;
    box-shadow: 0 2px 5px transparent;
}

.toggleActive .hamburguer-icon::after{
    top: 0;
    background: var(--hamburguer-icon-color);
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
z-index: 10;

}

.toggleActive .hamburguer-icon::before{
    top: 0;
    background: var(--hamburguer-icon-color);
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
z-index: 10;
}

.menuOpen {
 
background-color: white;
    position: absolute;
  top: 0;
bottom: 0;
right: 0;
left: 0;
    width: 100%;
    height: 100vh;
}