@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.container-projects {
  @include flex-center;
  @include container-wrapper-mobile();
  background-color: map-get($colors, bg-section);

  .content-projects {
    @include flex-center;
    flex-direction: column;

    h3 {
      @include subtitle-mobile;
      margin-bottom: 25px;
    }
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .container-projects {
    @include wrapper-medium-screen;



    .content-projects {

      h3{
        @include subtitle-medium-screen;
      }


    }
  }



}
