@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.container-projects {
  @include flex-center;
  @include container-wrapper-mobile;
  background-color: map-get($colors, bg-section);

  .content-projects {
    @include flex-center;
    flex-direction: column;

    h3 {
      @include subtitle-mobile;
      margin-bottom: 3em;
    }
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  .container-projects {
    @include wrapper-medium-screen;

    
  }
}

@media screen and (min-width: 1021px) {
  #projects {
    .container-projects {
      padding: 10em 0;

      .content-projects {
        padding: 0 8em;
        margin: 0 auto;
        max-width: 107em;
      }
    }
  }
}
