@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";



.container-footer{
    @include flex-center;
    padding: 50px 20px;
    background: linear-gradient(180deg, rgba(0,28,74,1) 4%, rgba(9,77,154,1) 100%);


    .content-footer{

h3{
color: map-get($colors, color-secondary);
font-size: map-get(map-get($mobile, font-size), body);
    }

    span{
        img{
            width: 2.2em;
        }
    }

    }
    
}